@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: rgb(150, 40, 21);
    margin-right: 5px;
    font-size: 1.6rem;
}

html {
    font-size: 62.5%;
}
body {/*Example of Type selector*/
    margin: 0px;
   
}
.header {

}
.corpo-total {/*Example of class selector. To ID selector just use #corpo-total, if it was the case */
    width: 100%;
    max-width: 1140px;
    background-color: #ffffff;
    margin: auto;
    padding: 2%;
}
.first-text {
    width: 60%;
}

.titulo {
    color:rgb(231, 168, 31);
    font-family: 'raleway', sans-serif;
    font-size: 3.8rem;
    text-align: center;
    padding: 1rem 1rem 0;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(126, 55, 8, 0.8);
}
.odin-logo {
    width: 280px;
    height: auto;
    
    bottom: 0px;
    right: 0px;
}
.imagem-central {
    display: block;
    width: 300px;
    height: auto;
    border: none;
    margin: 0px;
    
}
.foto-principal {
    display: block;
    width: 100%;
    height: auto;
    
}
div.imagem-legenda {
    margin: 20px;
}
.legenda-principal {
    color: #336a33;
}
img.heroe-image {/**/
    width: 45%;
    height: auto;
    max-height: 280px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(182, 124, 17);
}
.lista-receitas {
    margin-top: 2.4rem;
    padding: 0px;
    list-style: none;
}
.li-receitas {
    
    position: relative;
    background-color:none;
    transition: 0.3s;
    text-transform: uppercase;
    margin-bottom: 8px;          
}
.li-receitas:hover {
    background-color:rgb(231, 168, 31);   
}
.li-links {
    display: block;
    width: 20rem;
    margin: auto;
    padding: 1.5rem;
    border: 1px solid rgb(231, 168, 31);
    border-radius: 0.8rem;
    font-family: Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    color: rgb(26, 95, 47);
}
.li-links:hover {
    
    color: #fff;
}

.div-ingredients,
.div-directions {
    font-size: 15px;
    text-align: left;
    border: 1px solid black;
    padding: 10px;
    height: auto;
    width: 30%;
    border-color: orange;
    border-radius: 10px;
    background-color: rgba(248, 225, 175, 0.678);
}

.div-ingredients {
    
    top:10%;
    right: 2%;    
}
.div-directions {
    bottom:5%;
    right: 2%;
}
.div-ingredients.bolinho-de-chuva {/*Example of Chaining Selectors*/
    font-size: 14.5px;
}
.carreteiro {
    font-size: 13px;
    text-align: left;
}
.carreteiro h3 {
    margin-top: 0px;
    margin-bottom: 2px;
}
.carreteiro ul {/*Example of Descendant Combinator: a single space between selectors.*/
    margin-top: 0px;
}
li {
    margin-left: -25px;
}
.footer {
    width: 100%;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    margin-left: auto;
}
.mensagem-final {
    color: #336a33;
    margin: 0px;
    margin-left: 12px;
}
    